@import "tailwindcss";

@plugin "tailwindcss-animate";

@layer base {
	html,
	body {
		height: 100%;
		border-radius: var(--radius-lg);
		overflow: hidden;
		color: var(--color-neutral-100);
	}

	html {
		background: var(--color-neutral-900);
		border: 1px solid var(--color-neutral-700);
	}
}

:root {
	--radius: 0.6rem;
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}
